<section>
    <form class="form-horizontal" ng-submit="create()">
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" ng-model="title" class="form-control" id="title" placeholder="Title" required="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="content">Content</label>
            <div class="controls">
                <textarea ng-model="content" class="form-control" id="content" rows="10" placeholder="Content"></textarea>
            </div>
        </div>
		 <div class="form-group">
            <label class="control-label" for="content">Access</label>
            <div class="controls">
                <input type="radio" name="access" ng-model="access" value="public" checked>Public</input>
                <input type="radio" name="access" ng-model="access" value="private">Private</input>
            </div>
        </div>
        <div class="form-group" ng-show="access == 'private'">
            <label class="control-label">Users</label>
            <div class="controls">
				<label ng-repeat="user in allUsers">
				  <input
					type="checkbox"
                    name="allowedUsers[]"
					value="{{user.username}}"
					ng-checked="allowedUsers.indexOf(user._id) > -1"
					ng-click="toggleSelection(user._id)"
				  > {{user.username}}
				</label>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>
</section>
