<section ng-init="findOne()">
    <h2>{{board.title}} <a ng-show="currentUser._id == board.creator._id" href="/boards/{{board._id}}/edit">edit</a></h2>
    <p>{{board.content}}</p>
<div ng-controller="NotesCtrl" class="board">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Filter" ng-model="filter">
</form>
            <button id="createButton" ng-click="createNote(board._id)" class="btn btn-info pull-right">Create Note</button>
        </div>
    </div>
    <div sticky-note ng-repeat="note in notes | filter:filter" note="note" class="alert alert-block sticky-note" style="left: {{note.x}}px; top: {{note.y}}px; display: block;" ondelete="$scope.deleteNote(_id)">
        <button type="button" class="close" ng-click="deleteNote(note._id)">&times;</button>
        <textarea ng-model="note.text" ng-change="updateNote(note)" class="body">{{note.text}}</textarea>
        <select ng-selected="note.asignedTo" ng-model="note.asignedTo" ng-options="user._id as user.username for user in users" ng-change="updateNote(note)">
      <option value="">-- Asignado a --</option>
    </select>
    </div>
</div>
</section>
